<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
      
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input id="title" name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
        <div class="invalid-feedback">Please provide a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please provide a description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link:</label>
        <input id="image" name="listing[image]" placeholder="Enter image URL/link" type="text" class="form-control">
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input id="price" name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
          <div class="invalid-feedback">Please provide a price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input id="country" name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
          <div class="invalid-feedback">Please provide a country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input id="location" name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
        <div class="invalid-feedback">Please provide a location.</div>
      </div>

      <button class="btn btn-dark mt-3" type="submit">Add</button>
    </form>
  </div>
</div>
